/* nav-bar css*/

h1{
    margin-bottom: 4vh;
}

/* body css */

/* html{
   background-image: url("images/background-image-large.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;  
} */




/* footer css*/